{
  "_comment_levels": "fill in URLs for level / map images",
  "lvlmpsubsurface": "https://image.battlefield.su/bf6/maps/hagental_base.jpg",
  "_comment_gamemodes": "fill in URLs for gamemode icons",
  "gm_sabotage": "",
  "_comment_weapons": "fill in URLs for weapon renders",
  "wp_mg_mg525btk": "",
  "_comment_vehicles": "fill in URLs for vehicle renders",
  "veh_air_ah6litbird": "",
  "veh_air_mh47": "",
  "veh_air_uh06": "",
  "veh_sur_ltv": "",
  "veh_sur_moto_db01": "",
  "veh_sur_moto_db02": "",
  "veh_sur_ptv": "",
  "veh_sur_rhib": "",
  "_comment_gadgets": "fill in URLs for gadget icons",
  "gad_adren": "",
  "gad_callin_resupply": "",
  "gad_decoy": "",
  "gad_defib": "",
  "gad_deplocover": "",
  "gad_deployable": "",
  "gad_gasmask": "",
  "gad_gren_flash": "",
  "gad_gren_frag": "",
  "gad_gren_inc": "",
  "gad_gren_mfrag": "",
  "gad_gren_smoke": "",
  "gad_gren_stun": "",
  "gad_lancet": "",
  "gad_laserdes": "",
  "gad_msensor": "",
  "gad_recondrone": "",
  "gad_repair": "",
  "gad_rl_igla": "",
  "gad_sup_bag": "",
  "gad_tdart": "",
  "gad_tknife": "",
  "gad_vehsupcra": ""
}
